* {
  margin: 0, auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #fff;
}

.start-btn,
.modal,
.quiz-box,
.results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(53, 28, 116, 0.1),
    0px 6px 20px 0 rgba(53, 28, 116, 0.1);
  transition: all 0.3s ease;
}

.modal.activeInfo,
.quiz-box.activeQuiz {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50% scale(1));
}

/* Start Quiz Button */
.start-btn button {
  color: white;
  background: #351c74;
  border-radius: 5px;
  padding: 30px, 45px;
  width: 150px;
  height: 60px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.start-btn button:hover {
  color: #fff;
  background: #c572ea;
}

/* M O D A L */

.modal {
  width: 540px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50% scale(0.9));
}

.modal .modal-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #351c74;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600px;
  padding: 0px 35px;
}

.modal .modal-list {
  padding: 15px 35px;
}

.modal .modal-list .info {
  margin: 5px, 0px;
  font-size: 17px;
}

.modal .modal-list .info span {
  font-weight: 600px;
  color: #c572ea;
}

.modal .modal-btns {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 35px;
}

.modal .modal-btns button {
  margin: 0px 5px;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-btns button.enter {
  color: #fff;
  background: #351c74;
}

.modal-btns button.enter:hover {
  background: #c572ea;
}

.modal-btns button.quit {
  color: #351c74;
}

.modal-btns button.quit:hover {
  color: #351c74;
  background: #fff;
  border: 1px solid #351c74;
}

/* Q U I Z  B O X  S T Y L I N G */
.quiz-box {
  width: 550px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50% scale(0.9));
}

.quiz-box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(53, 28, 116, 0.1);
}

.quiz-box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz-box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #f1b8ff;
  border: 1px solid #c572ea;
  border-radius: 5px;
  padding: 0 8px;
}

.quiz-box header .timer .timer-text {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz-box header .timer .timer-sec {
  font-size: 18px;
  font-weight: 500;
  background: #351c74;
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #351c74;
  user-select: none;
}

.quiz-box .section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

.quiz-box section .q-text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.quiz-box section .answers_list {
  padding: 20px 0;
  display: block;
}

.quiz-box section .answers_list .option {
  background: #f1b8ff;
  border: 1px solid #c572ea;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
}

section .answers_list .option:hover {
  color: #fff;
  background: #c572ea;
  border-color: #351c74;
}

section .answers_list .option:last-child {
  margin-bottom: 0px;
}

.answers_list .option .icon {
  height: 36px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}

.answers_list .option .icon.tick {
  border-color: #23903c;
  color: #23903c;
  background: #d4edda;
}

.answers_list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

/* Q U I Z  B O X  F O O T E R */
.quiz-box footer {
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.next-btn {
  height: 40px;
  position: relative;
  margin-left: 170px;
  margin-bottom: 20px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: #351c74;
  border-radius: 5px;
  cursor: pointer;
}

button.next-btn:hover {
  background: #fff;
  color: #351c74;
  border: 1px solid #351c74;
}

/* R E S U L T S  B O X */
.results {
  background-color: #fff;
  width: 450px;
  height: 400px;
  padding: 25px 30 px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50% scale(0.9));
}

.results .icon {
  font-size: 100px;
  color: #351c74;
  margin-top: 20px;
}

.results .complete {
  font-size: 20px;
  font-weight: 500;
}

.score {
  font-size: 15px;
  color: #c572ea;
}

.initial-submit-text p {
  font-weight: 500;
  padding: 0 4px;
  margin-bottom: 0px;
}

/* .results .button {
  display: flex;
  margin: 20px 0;
}

.results .button button {
  margin: 0 155px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  align-items: center;
  display: block;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #351c74;
  cursor: pointer;
  transition: all 0.3s ease;
} */

/* F O R M */
form {
  margin-top: 10px;
  position: relative;
  margin-bottom: 40px;
}

#initialBox {
  border: 1px solid #351c74;
  border-radius: 5px;
  height: 25px;
}

#scoreSave {
  margin: 10px 155px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #351c74;
  border-radius: 5px;
  border: 1px solid #351c74;
  cursor: pointer;
  transition: all 0.3s ease;
}

#scoreSave:hover {
  color: #fff;
  background: #c572ea;
  border-color: #351c74;
}
